.col {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 55px;
    font-weight: 700;
    color: blueviolet;
    text-shadow: 2px 2px #ff0000;

}

h6 {
    text-align: center;
}

span {
    color: red;
}


@media (max-width: 768px) {
    .home {
        text-align: center;
    }

}